.main-row {
    justify-content: center;
    margin: 2rem 0;
}

.left-position {
    display: flex;
    justify-content: flex-end;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
}

.title-success {
    color: #006200;
}